body{
    background-color: black;
    color: rgb(0, 0, 0);
}

.hero-section{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 100%;
    padding: 120px 0;
    margin-block: 5px;
}

.main-title{
    font-family: "Shippori Antique B1";
    font-size:  100px;
}

.profile-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 100%;
    padding: 40px 0;
}

.feature-group{
    display: flex;
    justify-content: space-around;
    gap: 50px
}

.my-name{
    font-family: "Alata", sans-serif;
    font-size: 40px;
    margin: 0 auto;
}

.feature-item{
    font-family:"Alata", sans-serif;
    font-size: 20px;
}

.main-text{
    font-family: "Merriweather Sans", sans-serif;
    max-width: 480px;
    line-height: 1.8;
    margin: 25px;
}

.intro-container{
    display: flex;
    justify-content: space-around;
}

.intro-img{
    display: flex;
    justify-content: center;
}

.my-icon{
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: contain;
    display: block;
}

.skill-content{
    display: flex;
    text-align: center;
    flex-direction: column;
}

.skill-text{
    font-family:"Alata", sans-serif;
    font-size: 20px;
    color:rgb(255, 255, 255);
}

.skill-list{
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    justify-content: center;
}

.skill-icon{
    width: 50px;
    aspect-ratio: 1/1;
    object-fit: contain;
    display: block;
}

.like-section{
    display: flex;
}

.like-container{
    display: flex;
    justify-content: space-around;
}

.like-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    padding: 0;
    gap: 5px;
}

.like-card{
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    position: relative;
}

.like-title{
    position: absolute;
    left: 10%;
}

.like-icon{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 72px; 
   aspect-ratio: 1/1;
   object-fit: contain;
}

.js-like-btn {
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: none;
    border: none; 
    padding: 0;       
}

.plus-icon {
    width: 35px;
    display: block;
}

.like-text-card{
    width: 200px;
    height: 400px;
    background-color:rgb(255, 255, 255)
}