body{
    background-color: black;
    color: rgb(0, 0, 0);
}

.hero-section{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 100%;
    padding: 120px 0;
    margin-block: 5px;
}

.main-title{
    font-family: "Shippori Antique B1";
    font-size:  100px;
}

.profile-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 100%;
    padding: 40px 0;
}

.feature-group{
    display: flex;
    justify-content: space-around;
    gap: 10px
}

.my-name{
    font-family: "Alata", sans-serif;
    font-size: 40px;
    margin: 0 auto;
}

.feature-item{
    font-family:"Alata", sans-serif;
    font-size: 20px;
    margin-top: 20px;
}

.main-text{
    font-family: "Merriweather Sans", sans-serif;
    max-width: 480px;
    line-height: 1.8;
}
