body{
    background-color: black;
    color: rgb(0, 0, 0);
    margin: 0 3%;
}

/*main-section*/
.hero-section{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 100%;
    padding: 120px 0;
    margin-block: 5px;
}

.main-title{
    font-family: "Shippori Antique B1";
    font-size:  150px;
}

/*profile-section*/
.profile-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 100%;
    padding: 40px 0;
}

.feature-group{
    display: flex;
    justify-content: space-around;
    gap: 50px
}

.my-name{
    font-family: "Alata", sans-serif;
    font-size: 40px;
    margin: 0 auto;
}

.feature-item{
    font-family:"Alata", sans-serif;
    font-size: 20px;
}

.main-text{
    font-family: "Merriweather Sans", sans-serif;
    max-width: 480px;
    line-height: 1.8;
    margin: 25px;
}

/*intro-section*/
.intro-section{
    margin: 2% 0;
}

.intro-container{
    display: flex;
    justify-content: space-around;
}

.intro-img{
    display: flex;
    justify-content: center;
}

.my-icon{
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: contain;
    display: block;
}

.skill-content{
    display: flex;
    text-align: center;
    flex-direction: column;
}

.skill-text{
    font-family:"Alata", sans-serif;
    font-size: 20px;
    color:rgb(255, 255, 255);
}

.skill-list{
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    justify-content: center;
}

.skill-icon{
    width: 50px;
    aspect-ratio: 1/1;
    object-fit: contain;
    display: block;
}

/*like-section*/
.like-section{
    display: flex;
    align-items: flex-end;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

.like-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 0;
}

.like-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    list-style: none;
    padding: 0;
    gap: 10px;
    width: 100%;
}

.like-card{
    justify-content: center;
    width: 100%; 
    min-height: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    position: relative;
}

.like-title{
    position: absolute;
    font-family:"Alata", sans-serif;
    left: 5px;
    margin: 0;
    top: 5px;
}

.like-icon{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 72px; 
   aspect-ratio: 1/1;
   object-fit: contain;
}

.js-like-btn {
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: none;
    border: none; 
    padding: 0;  
    transition: transform 0.2s ease;    
    will-change: transform;/*ボケやチカチカするのを防ぐ*/ 
}

.plus-icon {
    width: 35px;
    display: block;
}

.like-text-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 415px;
    background-color:rgb(255, 255, 255);
    border-radius: 15px;
}

.like-text{
    transform: rotate(90deg);
    font-family:"Alata", sans-serif;
    font-size: 85px;
}

/*modal-section*/
.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    aspect-ratio: 1/1;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border: solid 8px black;
}

.modal-card-subtitle{
    font-family: "Merriweather Sans", sans-serif;
    font-size: 16px;
    margin: 0;
}

.modal-card-title{
    font-family: "Alata", sans-serif;
    font-size: 40px;
    margin: 0;

}

.modal-card-text{
    font-family: "Merriweather Sans", sans-serif;
    font-size: 16px;
    width: 70%;
    margin-top: 10%;
}

.js-modal-close-btn{
    cursor: pointer;
    background: none;
    border: none;
    margin-top: 25px;
}

.modal-close-icon{
    width: 45px;
    display: block;
}


/*For Animation*/
.js-like-btn:hover{
    transform: scale(1.15);
}