body{
    background-color:  #000000;
    color: #000000;/*文字を白に*/
    line-height: 1.8;/*行間*/
    margin: 0 3%;
}

.main-header{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #ffffff;
    width: 100%;
   aspect-ratio: 2/1;
   min-height: 250px;
}

.main-title{
    font-family: "Shippori Antique B1";
    font-size: clamp(40px, 10vw, 150px);
}